@import url(http://fonts.googleapis.com/css?family=Roboto:300,400,500,700);
html {
    overflow: hidden!important;
    width: 100%;
    height: 100%;
    min-height: 370px;
}

body {
    width: 100%;
    height: 100%;
    color: #2a3237;
    font-size: 14px;
    font-family: 'Poiret One', cursive;
    // font-family: 'Roboto Slab', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.parallax {
    position: absolute;
    overflow: hidden;
    width: 100%;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.parallax img {
    width: 100%;
    height: 100%;
}


/* Preloader */

.preloader {
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background-color: white;
}

.preloader img {
    position: absolute;
    top: calc(50% - 32px);
    left: calc(50% - 32px);
}

.preloader div {
    display: none;
    /* Preload the Second Pricing Image */
    background: url(../img/pricing2.jpg) no-repeat 9999px 9999px;
    background-position: 9999px 9999px;
}


/* Typography */

h1,
h2,
h3,
h4,
h5,
h6 {
    position: relative;
    margin: 10px 0;

    font-family: 'Roboto', 'Avenir Next', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

ul.white-list {
    padding: 0;
    list-style-type: none;
}

ul.white-list li {
    margin: 10px 0;
    color: #fff;

    font-size: 18px;
}

ul.white-list li:before {
    position: relative;
    top: -3px;
    display: inline-block;
    margin-right: 15px;
    width: 6px;
    height: 6px;
    background: white;

    content: ' ';
}

header {
    position: relative;
    width: 100%;
    height: 100%;
    /*background: rgba(28, 36, 65, 0.93);*/
    /*background: url('../img/header.jpg');*/
    background-size: cover;
    color: white;
}

header .table {
    display: table;
    height: 100%;
}

header .container {
    height: 100%;
}

header .header-text {
    display: table-cell;
    color: white;
    vertical-align: middle;
    text-align: center;
}

header .typed {
    display: inline-block;
    margin: 0;
}

header .typed-cursor {
    display: inline-block;
    margin: 0 10px;
    color: #00a8ff;

    font-size: 60px;
    -webkit-animation-name: flash;
    animation-name: flash;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

a {
    color: #00a8ff;

    text-decoration: none;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}


/* Navigation Bar ( Navbar ) */

nav.navbar {
    position: absolute;
    z-index: 9500;
    width: 100%;
    width: 100vw;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

nav.navbar .navbar-nav li.active a:not(.btn) {
    color: #00a8ff !important;
}

nav.navbar-fixed-top {
    top: 0;

    z-index: 9499;
    padding: 25px 0;
    background: white;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.05);
    opacity: 0;
}

nav.navbar-fixed-top .navbar-nav > li > a:not(.btn) {
    color: #bbb;
}

.icon-bar {
    background: #bbb;
}


/* Buttons */

.btn {
    display: inline-block;
    padding: 15px 30px;
    border: 2px solid transparent;
    border-radius: 2px;
    background: transparent;
    color: white;

    font-size: 18px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.btn:hover,
.btn:focus {
    color: white;
}

.btn.btn-blue {
    background: #00a8ff;
}

.btn.btn-blue:hover {
    background: #31b9ff;
}

.btn.btn-blue-fill {
    border-color: #00a8ff;
    background: transparent;

    color: #00a8ff;
}

.btn.btn-blue-fill:hover {
    background: #00a8ff;

    color: white;
}

.btn.btn-white-fill {
    border-color: #fff;
    background: transparent;

    color: #fff;
}

.btn.btn-white-fill:hover {
    background: #fff;

    color: #00a8ff;
}

.btn.btn-gray-fill {
    border-color: #fff;
    background: transparent;

    color: #fff;
}

.btn.btn-gray-fill:hover {
    border-color: #bbb;
    background: #bbb;
}


/* Blink Cursor */

.blink {
    position: relative;
    top: 4px;
    display: inline-block;
    margin: 0 10px;
    width: 4px;
    height: 50px;
    height: 5vh;
}

.navbar {
    top: 50px;
}

.container {
    position: relative;
    z-index: 1;
}


/* Sections */

section {
    position: relative;
}

.section {
    padding: 40px 0;
    background: #fff;
}

.section-padded {
    padding: 140px 0 40px;
}

.cut-top {
    position: absolute;
    top: -80px;
    left: 0;
    z-index: 1;
    width: 0;
    height: 0;
    border-top: 80px solid transparent;
    border-right: 30px solid white;

    content: ' ';
}

.cut-bottom {
    position: absolute;
    bottom: -80px;
    left: 0;
    z-index: 1;
    width: 0;
    height: 0;
    border-bottom: 80px solid transparent;
    border-left: 30px solid white;

    content: ' ';
}

.intro-tables {
    position: relative;

    top: -130px;
}

.intro-table {
    background-position: 0% 0%;

    background-size: cover;
    background-repeat: repeat;
}

.intro-table-first {
    background-image: url('../img/table-1.jpg');
}

.intro-table-hover {
    background-image: url('../img/table-2.jpg');

    -webkit-transition: background-image 0.3s ease, background-position 0.3s;
    transition: background-image 0.3s ease, background-position 0.3s;
}

.intro-table-hover h4 {
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;

    -webkit-transform: translateY(170px);
    transform: translateY(170px);
}

.intro-table-hover:hover {
    background-image: url('../img/table-2-hover.jpg');
    background-position: 50% 50%;
}

.intro-table-third {
    background-image: url('../img/table-3.jpg');
}

.intro-table-hover .expand {
    margin: 30px;
    margin-top: 120px;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s ease;
    transition: opacity 0.3s, -webkit-transform 0.3s ease;
    transition: transform 0.3s ease, opacity 0.3s;
    transition: transform 0.3s ease, opacity 0.3s, -webkit-transform 0.3s ease;
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
}

.intro-table-hover:hover h4 {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.intro-table-hover:hover .expand {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.intro-table-hover .hide-hover {
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

.intro-table-hover:hover .hide-hover {
    opacity: 0;
}

.intro-tables .intro-table {
    position: relative;
    margin: 20px 0;
    width: 100%;
    height: 300px;
}

.intro-tables .intro-table .heading {
    margin: 0;
    padding: 30px;
}

.intro-tables .intro-table .small-heading {
    margin: 0;
    padding: 0 30px;
}

.intro-tables .intro-table .bottom {
    position: absolute;
    bottom: 0;
}

.intro-tables .intro-table .owl-schedule .schedule-row {
    padding: 10px 30px;
    color: white;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.owl-schedule .schedule-row:not(:last-child) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.owl-testimonials .author {
    margin-top: 50px;
}

.ripple-effect {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: white;
    -webkit-animation: ripple-animation 2s;
    animation: ripple-animation 2s;
}

@-webkit-keyframes ripple-animation {
    from {
        opacity: 0.2;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    to {
        opacity: 0;
        -webkit-transform: scale(100);
        transform: scale(100);
    }
}

@keyframes ripple-animation {
    from {
        opacity: 0.2;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    to {
        opacity: 0;
        -webkit-transform: scale(100);
        transform: scale(100);
    }
}

.services {
    margin: 40px 0;
}

.service {
    margin: 80px 0;

    width: 100%;
    height: 320px;
    border: 1px solid #ddd;
    text-align: center;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.service .icon-holder {
    position: relative;
    top: 100px;
    display: inline-block;
    margin-bottom: 40px;
    padding: 10px;
    background: white;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.service .heading {
    position: relative;
    top: 80px;
    -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.service .icon-holder > img.icon {
    width: 40px;
}

.service:hover {
    border-color: #00a8ff;
}

.service:hover .icon-holder {
    top: -30px;
}

.service:hover .heading {
    top: -30px;
}

.service .description {
    margin: 0 auto;

    width: 80%;
    opacity: 0;
    -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transform: scale(0);
    transform: scale(0);
}

.service:hover .description {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.team {
    margin: 80px 0;
    padding-bottom: 60px;
    background: white;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.07);
}

.team .cover .overlay {
    padding-top: 60px;

    height: 250px;
    background: rgba(0, 168, 255, 0.9);
    opacity: 0;
    -webkit-transition: opacity 0.45s ease;
    transition: opacity 0.45s ease;
}

.team:hover .cover .overlay {
    opacity: 1;
}

.team .avatar {
    position: relative;
    z-index: 2;
    margin-top: -60px;
    border-radius: 50%;
}

.team .title {
    margin: 50px 0;
}


/* Pricing */

#pricing {
    background: #00a8ff url('../img/pricing1.jpg') no-repeat center center;
    background-size: cover;
    -webkit-transition: background-image 0.6s linear 0.3s;
    transition: background-image 0.6s linear 0.3s;
}

.owl-pricing img {
    width: 100%;
}

.owl-pricing,
.pricings {
    margin-top: 100px;
    margin-bottom: 100px;
}

.pricing {
    position: relative;
    width: 100%;
}

.pricings .pricing .box-main,
.pricings .pricing .box-second {
    position: relative;
    left: 25%;
    display: inline-block;
    padding: 50px 40px;
    width: 50%;
    height: 300px;
    background: #bbb;
    -webkit-transition: -webkit-transform 0.3s, background-image 0.3s, opacity 0.3s;
    -webkit-transition: background-image 0.3s, opacity 0.3s, -webkit-transform 0.3s;
    transition: background-image 0.3s, opacity 0.3s, -webkit-transform 0.3s;
    transition: transform 0.3s, background-image 0.3s, opacity 0.3s;
    transition: transform 0.3s, background-image 0.3s, opacity 0.3s, -webkit-transform 0.3s;

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.pricings .pricing .box-main {
    z-index: 10;
    padding-top: 40px;
}

.pricings .pricing .box-main:not(.active) {
    cursor: pointer;
}

.pricings .pricing .box-main .info-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #fff;

    font-size: 14px;
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    pointer-events: none;
}

.pricings .pricing .box-main:not(.active) .info-icon {
    opacity: 1;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.pricings .pricing .box-main:not(.active):hover {
    background: #afafaf;
}

.pricings .pricing .box-main.active {
    background: #00a8ff;
    -webkit-transform: translateX(-99%);
    transform: translateX(-99%);
}

.pricings .pricing .box-second {
    position: absolute;
    top: 0;
    right: 0% !important;
    left: auto;
    background: #afafaf;
    opacity: 0;
}

.pricings .pricing .box-second.active {
    background: #00a8ff;

    opacity: 1;
}

.pricings .pricing.active .box-main,
.pricings .pricing .box-second {
    background: #00a8ff;
}

.pricings .pricing .box-main a.btn {
    margin-top: 50px;
}

.owl-twitter i.icon {
    margin-bottom: 60px;
    color: white;

    font-size: 36px;
}


/* Footer */

footer {
    padding: 140px 0 40px;
    background: url('../img/footer.jpg');
    background-size: cover;
}

footer .trial-button {
    overflow: hidden !important;
    margin: 40px 0;
}

footer .open-blink {
    position: relative;
    display: inline-block;
    margin: 0 20px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #4caf50;

    content: ' ';
    -webkit-animation-name: flash;
    animation-name: flash;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

footer .open-blink:before {
    position: absolute;
    top: -8px;
    left: -8px;
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #4caf50;

    content: ' ';
    opacity: 0.1;
}

footer .opening-hours {
    margin-top: 60px;
}

footer .bottom-footer {
    margin-top: 150px;
}

footer .social-footer {
    padding: 0;
    list-style: none;
}

footer .social-footer li {
    display: inline-block;
    margin: 0 10px;
}

footer .social-footer li a {
    color: #fff;

    font-size: 24px;
}

footer .social-footer li:hover a {
    color: #00a8ff;
}


/* Form Control */

.form-control {
    position: relative;
    left: 0;
    padding: 20px 30px;
    height: auto;
    border: 1px;
    border-radius: 0;
    box-shadow: 0;

    font-size: 18px;
}

.form-control.form-white {
    border: 2px solid white;
    background: transparent;

    color: #fff;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

.form-control.form-white::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #fff;
}

.form-control.form-white:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #fff;

    opacity: 1;
}

.form-control.form-white::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #fff;

    opacity: 1;
}

.form-control.form-white:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #fff;
}

.form-control.form-white:focus {
    background: rgba(255, 255, 255, 0.2);
}


/* Popup */

.modal {
    padding: 0 25px !important;
}

.modal-dialog {
    margin: 0 auto;
    max-width: 560px;

    width: 100%;
}

.modal-popup {
    position: relative;
    padding: 45px 30px;
    border-radius: 2px;
    background: url('../img/popup.jpg');
    box-shadow: none;
    text-align: center;
}

.modal-popup a.close-link {
    position: absolute;
    top: 20px;
    right: 30px;
    color: #fff;

    font-size: 22px;
}

.popup-form {
    margin: 60px auto;
    max-width: 375px;

    width: 90%;
}

.popup-form .form-control {
    margin: 20px 0;
}

.popup-form .form-control.dropdown {
    text-align: left;
}

.popup-form .form-control.dropdown:after {
    display: inline-block;
    float: right;
    color: white;

    content: '\f0d7';
    font-family: 'FontAwesome';
}

.popup-form .dropdown .dropdown-menu {
    top: 65px;
    padding: 0;
    width: 100%;
    border: 2px solid white;
    border-top: 0;
    border-radius: 0;
    background: white;
    box-shadow: none;
}

.popup-form .dropdown .dropdown-menu li {
    width: 100%;
    background: transparent;

    font-size: 16px;
}

.popup-form .dropdown .dropdown-menu li a {
    padding: 15px 30px;

    width: 100%;
    color: #00a8ff;
}

.popup-form .dropdown .dropdown-menu li:hover a {
    background: #00a8ff;

    color: #fff;
}


/* Checkbox */

.checkbox-holder {
    white-space: nowrap;
}

.checkbox {
    position: relative;
    display: block;
}

.checkbox {
    position: relative;
}

.checkbox label:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border: 2px solid white;
    background: transparent;

    content: '';
    cursor: pointer;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

.checkbox input[type=checkbox]:focus + label:before {
    background: rgba(255, 255, 255, 0.2);
}

.checkbox label:after {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 8px;
    height: 8px;
    background: white;

    content: '';
    opacity: 0;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.checkbox input[type=checkbox] {
    position: absolute;
    width: 0;
    height: 0;

    opacity: 0;
}

.checkbox input[type=checkbox]:checked + label:after {
    opacity: 1;
}

.checkbox-holder span {
    position: relative;
    display: inline-block;
    margin: 0 0 0 10px;
    color: #fff;
    white-space: normal;
}

.btn.btn-submit {
    margin-top: 30px;

    width: 100%;
    border: 2px solid #fff;
    background: #fff;
    color: #00a8ff;
}

.btn.btn-submit:focus {
    font-weight: bold;
}

.btn.btn-submit:hover {
    background: #fff;

    color: #00a8ff;
}


/* Mobile Nav */

.mobile-nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: table;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.98);
    text-align: center;
    opacity: 0;
    -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transform: scale(0);
    transform: scale(0);
}

.mobile-nav.active {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.mobile-nav ul {
    display: table-cell;
    padding: 0;
    list-style: none;
    vertical-align: middle;
}

.mobile-nav ul li {
    margin: 25px 0;
}

.mobile-nav ul li a:not(.btn) {
    color: #aaa;
}

.mobile-nav a.close-link {
    position: absolute;
    bottom: 0px;
    left: calc(50% - 10px);
    left: 0;
    padding: 15px 0;
    width: 100%;
    background: #00a8ff;
    color: #fff;

    font-size: 24px;
}

.row.title {
    padding: 0 20px;
}

.light {
    font-weight: 300;
}

.regular {
    font-weight: 400;
}

.bold {
    font-weight: bold;
}


/* Colors */

.white {
    color: white;
}

.light-white {
    color: rgba(255, 255, 255, 0.5);
}

.white-bg {
    background: white;
}

.gray-bg {
    background: #f7f7f7;
}

.blue {
    color: #00a8ff;
}

.blue-bg {
    background: #00a8ff;
}

.muted {
    color: #989da0;
}

.margin-top {
    margin-top: 150px;
}

@media(max-width:992px) {
    h1 {
        font-size: 36px;
    }
    h2 {
        font-size: 28px;
    }
    h3 {
        font-size: 24px;
    }
    h4 {
        font-size: 20px;
    }
    h5 {
        font-size: 16px;
    }
    h6 {
        font-size: 12px;
    }
    .section {
        padding: 30px 0;
    }
}


/* Media Queries */

@media(max-width:991px) {
    .text-center-mobile {
        text-align: center !important;
    }
}

@media(max-width: 768px) {
    .pricing {
        margin-bottom: 30px;
    }
    .pricings .pricing .info-icon {
        display: none;
    }
    .pricings .pricing .box-main,
    .pricings .pricing .box-second {
        left: 0;
        padding: 50px 50px 0;
        width: 100%;
        background: #00a8ff;
        text-align: left;
    }
    .pricings .pricing .box-main.active {
        background: #00a8ff;
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }
    .pricings .pricing .box-second {
        position: relative;
        opacity: 1;
    }
    .popup-form {
        margin: 60px auto;

        width: 100%;
    }
    .modal {
        padding: 0 10px !important;
    }
    .popup-form .form-control:not(.dropdown):focus {
        position: relative;
        padding-right: 30px;
        padding-left: 30px;
    }
}

@media(max-width: 400px) {
    header .typed-cursor {
        display: none;
    }
    .pricings .pricing .box-second {
        padding-top: 0;
    }
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-image: url('../img/header-images/4.png');
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: 0.5s ease-in;
    transition: 0.5s ease-in;

    -webkit-background-repeat: no-repeat;
    -moz-background-repeat: no-repeat;
    -o-background-repeat: no-repeat;
}


.menu-category {
    color: white;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 4.5em;
}

.menu-category div {
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.menu-category div:hover {
    -webkit-transform: scale(1.09);
    transform: scale(1.09);
    color: #d85746;
}

/*#menu {
    position: fixed;
    top: 0;
    left: -20vw;
    z-index: 5;
    width: 20vw;
    /*    padding: 20px 5px;*/
/*    height: 100%;
    background-color: rgba(70, 70, 70, 0.8);
    color: white;
}

#menu {
    padding-top: 5vh;

    list-style: none;
}

#menu li {
    margin-bottom: 10px;
}

#menu-button {
    position: fixed;
    top: 10px;
    left: 1vw;
    z-index: 5;
    clip: rect(0, 0, 0, 0);
    color: white;
    font-size: 2em;
}

label[for='menu-button'] {
    position: fixed;
    top: 10px;
    left: 1vw;
    z-index: 5;
    color: white;
    font-size: 2em;
    /* non-critical apperance styles */
  /*  cursor: pointer;
}

label[for='menu-button']::before {
    content: '\f0c9';

    font-family: fontawesome;
}

.menu-button + label,
#menu {
    -webkit-transition: left 0.2s;
    transition: left 0.2s;
}

.menu-button:checked + label {
    left: 21vw;
}

.menu-button:checked ~ #menu {
    left: 0vw;
}*/

/*.root {
    z-index: 0;

    width: 100%;
    height: 100%;
}


.header {
    z-index: 1;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    -ms-flex-align: center;
    min-height: 60px;
    height: 10%;
    background-color: rgb(59, 59, 59);
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.6);
    color: white;
    font-size: 2em;

    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.root .part {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    -ms-flex-align: center;
    min-height: 300px;

    height: 45%;
    font-size: 1.5em;
    font-family: 'Roboto Slab', serif;
    cursor: pointer;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;

    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.root .part:nth-child(odd) {
    color: white;
}

.root .part::before {
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
    width: 100%;
    height: 5px;
    background: white;

    content: "";
    -webkit-transition: .15s linear;
    transition: .15s linear;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
}

.root .part:hover::before {
    visibility: visible;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.root .part:focus::before {
    visibility: visible;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.root .part-1 {
    background-color: rgb(83, 53, 139);
}

.root .part-2 {
    background-color: rgb(91, 226, 153);
}

.root .part-3 {
    background-color: rgb(142, 127, 255);
}

.root .part-4 {
    background-color: rgb(218, 255, 96);
}

.root .part-5 {
    background-color: rgb(25, 100, 108);
}

.root .part-6 {
    background-color: rgb(255, 103, 103);
}*/

@media (max-height: 370px) {
    html {
        overflow: visible!important;
    }
}




::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-button {
}
::-webkit-scrollbar-track {
}
::-webkit-scrollbar-track-piece  {
}
::-webkit-scrollbar-thumb {
    background-color: rgb(59, 59, 59);
}
::-webkit-scrollbar-corner {
}
::-webkit-resizer {
}


.menu {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    color: white;
    margin-top: 30px;
    margin-left: 30px;
}

.menu > div {
    font-size: 1.6em;
    cursor: pointer;
    margin: auto;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 1.1em;
    margin-top: 10px;
}

.dropdown-content div {
    color: #404040;
    cursor: pointer;
    padding: 10px 20px;
}

.dropdown-content div:hover {
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
}






.meet {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding: 10px;
    transition: color 0.25s;
}

.meet::before,
  .meet::after {
    box-sizing: border-box;
    content: '';
    position: absolute;

  }

.meet::before, .meet::after {
    width: 0;
    height: 0;
    border: 2px solid transparent;
}

.meet::before {
    top: 0;
    left: 0;
}

.meet::after {
    bottom: 0;
    right: 0;
}

.meet:hover {
    color: #d85746;
}

/*.meet:hover::before {
    visibility: visible;
    -webkit-transform: scale(1);
    transform: scale(1);
}*/
.meet:hover::before,
  .meet:hover::after {
    width: 100%;
    height: 100%;
  }
.meet:hover::before {
    border-top-color: #d85746;
    border-right-color: #d85746;
    transition: 
        width 0.25s ease-out,
        height 0.25s ease-out 0.25s;
}

.meet:hover::after {
    border-bottom-color: #d85746;
    border-left-color: #d85746;
    transition: 
        width 0.25s ease-out,
        height 0.25s ease-out 0.25s;
}

/*.meet::before {
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: visible;
    width: 100%;
    height: 2px;
    background: #d85746;

    content: "";
    -webkit-transition: .15s linear;
    transition: .15s linear;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
}*/







@media (max-width: 510px) {
    .menu {
        margin-left: 0px;
    }
    .menu-category {
        font-size: 3em;
    }
}