.preview {
	display: flex;
	color: #eee;
	flex-direction: column;
	align-items: center;
}
.main {
	background-image: url('../img/bg-image2.jpg');
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position:20% top;
}
.logo {
	background-image: url('../img/2.png');
	-webkit-background-size: cover;
	background-size: cover;
	width: 20vw;
	height: 14vw;
}
.logotext {
	font-size: 10vw;
	line-height: 0.5em;
}
.before {
	font-size: 3vw;
	line-height: 3em;
}