html {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab', serif;
  text-align: center;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.container .menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-width: 250px;
  background-color: white;
  z-index: 2;
}

.container .menu .item {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 100%;
  height: 100%;
  font-size: 1.2em;

  transition: all .1s ease-in-out;
}
.container .menu .item:hover {
  transform: scale(1.05);
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
}

.container .menu .item div {
  width: 100%;
}
.draw {
  z-index: 1;
}

.load {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  visibility: hidden;
}

.load .img-load {
  background-image: url('./loading.png');
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;

  -webkit-animation: rotating 1.6s linear infinite;
  -moz-animation: rotating 1.6s linear infinite;
  -ms-animation: rotating 1.6s linear infinite;
  -o-animation: rotating 1.6s linear infinite;
  animation: rotating 1.6s linear infinite;
}


@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


.welcome {
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  font-size: 2em;
}

.welcome .left-arrow {
  background-image: url('./left-arrow.png');
  width: 100px;
  height: 100px;
  background-size: cover;
  background-repeat: no-repeat;

  -webkit-animation: leftArrow 1.5s ease-in-out infinite;
  -moz-animation: leftArrow 1.5s ease-in-out infinite;
  -ms-animation: leftArrow 1.5s ease-in-out infinite;
  -o-animation: leftArrow 1.5s ease-in-out infinite;
  animation: leftArrow 1.5s ease-in-out infinite;
}


@-webkit-keyframes leftArrow /* Safari and Chrome */ {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
  }
}
@keyframes leftArrow {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
  }
}
